html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(img/meeting-bg.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #352b50;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([read-only]),
input[type=email]:not(.browser-default):focus:not([read-only]),
input[type=password]:not(.browser-default):focus:not([read-only]),
textarea.materialize-textarea:focus:not([read-only]) {
  border-color: #352b50;
  box-shadow: none;
}